/*
estilo css
*/

/*
div{
  border-style: solid;
 border-color: black; ;
}
*/

header{
  background-color:#9C3334;
  color:white;
}
.menu{
  background-color:#9C3334;
  color:white;
}

main{
  background-color: #a2a2a2;
  color:red;
}
.color1{
  background-color: #D46A6A;
}
aside{

  border-radius: 14px;

  /*
  border-color: black;
  border-style: solid;
    border-radius: 14px;
  */

}
footer{
background-color:#a2a2a2;
color:white;
}


  .header_link a{
      color:#FFFFFF;
      text-decoration: none;
  }
/*
 * CSS menu-filtro
 * */


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}




/*
 * CSS mapa
 * */


#map{
  display: block;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}


.overlay{
  display:block;
  text-align:center;
  color:#fff;
  font-size:60px;
  line-height:80px;
  opacity:0.8;
  background:#4477aa;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 4px;
}

.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}
  	/* datatables */
table th:nth-child(3), td:nth-child(3) {
display: none;
}


  	/* Gama de colores */
  .color-primary-0 { color: #AA3939 }
  .color-primary-0-1 { color: #9C3334 }
  .color-primary-1 { color: #FFAAAA }
  .color-primary-2 { color: #D46A6A }
  .color-primary-3 { color: #801515 }
  .color-primary-4 { color: #550000 }
